<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sporthub.Repository.Properties.Settings.sandpitConnectionString"
            connectionString="Data Source=213.175.193.168;Initial Catalog=thesnowhub;Persist Security Info=True;User ID=hasselhof;Password=anewstart2008"
            providerName="System.Data.SqlClient" />
        <add name="Sporthub.Repository.Properties.Settings.SQL2005_615410_sporthubConnectionString"
            connectionString="Data Source=tcp:esql2k501.discountasp.net;Initial Catalog=SQL2005_615410_sporthub;Persist Security Info=True;User ID=SQL2005_615410_sporthub_user;Password=first2009"
            providerName="System.Data.SqlClient" />
        <add name="Sporthub.Repository.Properties.Settings.SQL2005_615410_sporthubConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=SQL2005_615410_sporthub;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sporthub.Repository.Properties.Settings.SQL2005_615410_sporthubConnectionString2"
            connectionString="Data Source=esql2k501.discountasp.net;Initial Catalog=SQL2005_615410_sporthub;Persist Security Info=True;User ID=SQL2005_615410_sporthub_user;Password=first2010"
            providerName="System.Data.SqlClient" />
        <add name="Sporthub.Repository.Properties.Settings.sporthubConnectionString"
            connectionString="Data Source=NH-LAPTOP-120;Initial Catalog=sporthub;Persist Security Info=True;User ID=sporthubuser;Password=first2010"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>