<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <connectionStrings>
    <add name="SQL2005_615410_sporthubConnectionString"
    connectionString="Data Source=localhost;Initial Catalog=SQL2005_615410_sporthub;Persist Security Info=True;User ID=sa;Integrated Security=True"
    providerName="System.Data.SqlClient" />
	<add
      name="SQL2005_615410_sporthubConnectionString"
      connectionString="Data Source=tcp:esql2k501.discountasp.net;Initial Catalog=SQL2005_615410_sporthub;User ID=SQL2005_615410_sporthub_user;Password=first2009;"
      providerName="System.Data.SqlClient"
    />

  </connectionStrings>
    -->

</configuration>

