<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="fbAPIKey" value="e2411c2c547d4f2ec4bde40ba8c42102"></add>
		<add key="fbSecret" value="b07023e6cc8e73375ea2c86badff4e87"></add>
		<add key="fbCallback" value="http://www.thesnowhub.com/"></add>
		<add key="fbUserThumb" value="http://static.ak.fbcdn.net/pics/t_silhouette.jpg"></add>
	</appSettings>
	<!--<connectionStrings configSource="connections.config">
  </connectionStrings>-->
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<!--
    <add
      name="SporthubConnectionString"
      connectionString="Data Source=tcp:esql2k501.discountasp.net;Initial Catalog=SQL2005_615410_sporthub;User ID=SQL2005_615410_sporthub_user;Password=first2009;"
      providerName="System.Data.SqlClient"
    />
    <add
      name="SQL2005_615410_sporthubConnectionString"
      connectionString="Data Source=tcp:esql2k501.discountasp.net;Initial Catalog=SQL2005_615410_sporthub;User ID=SQL2005_615410_sporthub_user;Password=first2010;"
      providerName="System.Data.SqlClient"
    />
    <add
      name="SporthubConnectionString"
      connectionString="Data Source=S15423018\SQLEXPRESS;Initial Catalog=sporthub;User ID=sa;Password=first2010;"
      providerName="System.Data.SqlClient"
    />
    <add
      name="SQL2005_615410_sporthubConnectionString"
      connectionString="Data Source=S15423018\SQLEXPRESS;Initial Catalog=sporthub;User ID=sa;Password=first2010;"
      providerName="System.Data.SqlClient"
    />
    <add
      name="SporthubConnectionString"
      connectionString="Data Source=NH-LAPTOP-120;Initial Catalog=sporthub;User ID=sporthubuser;Password=first2010;"
      providerName="System.Data.SqlClient"
    />
    <add
      name="SQL2005_615410_sporthubConnectionString"
      connectionString="Data Source=NH-LAPTOP-120;Initial Catalog=sporthub;User ID=sporthubuser;Password=first2010;"
      providerName="System.Data.SqlClient"
    />
    -->
		<add name="SporthubConnectionString" connectionString="Server=cb2ed751-e89f-4019-a830-9fd400fe5a7d.sqlserver.sequelizer.com;Database=dbcb2ed751e89f4019a8309fd400fe5a7d;User ID=lfldbcpuumndigeq;Password=rJfndMUAzrwwXjGqcgRsTXSNNpS8XLgsZ3mCayeUy8RTQn7L4qeoGZ4BYzFV4VLV;" providerName="System.Data.SqlClient"/>
		<add name="SQL2005_615410_sporthubConnectionString" connectionString="Server=cb2ed751-e89f-4019-a830-9fd400fe5a7d.sqlserver.sequelizer.com;Database=dbcb2ed751e89f4019a8309fd400fe5a7d;User ID=lfldbcpuumndigeq;Password=rJfndMUAzrwwXjGqcgRsTXSNNpS8XLgsZ3mCayeUy8RTQn7L4qeoGZ4BYzFV4VLV;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<!--<add assembly="System.Web.Mvc"/>-->
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Forms">
			<forms name=".ASPXFORMSAUTH" loginUrl="account/login" defaultUrl="user/" timeout="20160"/>
		</authentication>
		<authorization>
			<allow users="*"/>
			<!--
      <deny users="?"/>
      -->
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="Sporthub.Mvc.Code.Helpers"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
	</system.web>
	<location path="static/styles">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="static/images">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="static/scripts">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Account/Login">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Account/Register">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.web.extensions/>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="MvcHttpHandler"/>
			<remove name="UrlRoutingHandler"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
</configuration>
